<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Nombre</title>
</head>
<body>

    <div class="contenedorProfile">

        <nav class="contenedorHome_nav">     
            <div class="contenedorHome_nav_titulo">
                MemeHam
            </div>   
            <a href="" class="colorEnlaces"><i class="far fa-user-circle"></i></a>
            <a href="" class="colorEnlaces"><i class="fas fa-home"></i></a>
            <a href="" class="colorEnlaces"><i class="fas fa-puzzle-piece"></i></a>
            <a href="" class="colorEnlaces"><i class="fas fa-comments"></i></a>                
        </nav>

        <img src="" alt="" class="contenedorProfile_imgPerfil">
        <h4>Nombre de Usuario</h4>
        <p class="contenedorProfile_descripción">Descripción</p>

        <section class="contenedorProfile_section" >
            <div class="contenedorProfile_section_publicación">
               
                    <img src="" alt="" class="contenedorProfile_section_publicación_contenido_img">
                
                <p>Nombre publicación</p>
                <p>Nombre publicación</p>
                <div class="contenedorProfile_section_publicación_reacciones">
                    <a href="" class="colorEnlaces"><i class="far fa-thumbs-up"></i></a>
                    <a href="" class="colorEnlaces"><i class="far fa-save"></i></a>
                </div>
            </div>
        </section>

    </div>
    
</body>
</html>