<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <title>Error ShareHam</title>
</head>
<body>

    <div class="contenedorError">
        <h1>Algo salió mal</h1>

        <img class="contenedorError_imagen" src="images/imagenesPublicas/Perro.png" alt="perro meme">

        <h1><%= message %></h1>

        <h2><%= error.status %></h2>

        <pre><%= error.stack %></pre>
    </div>
</body>
</html>