<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <title>BookHam</title>
</head>
<body>

    <div class="bg-light" style=" height: 100vh; display: flex; justify-content: center; align-items: center;">
        <article class="card-body " style="max-width: 700px; " >
            <h4 class="card-title mt-3 text-center" style="font-size: 3em;">Iniciar Sesión</h4>
            <p>
                <a href="" class="btn btn-block"  style=" background-color: #9d405c; color: #fff;"> <i class="fab fa-google"></i>  Ingresar con Google</a>
                <a href="" class="btn btn-block"  style=" background-color: #405D9D; color: #fff;"> <i class="fab fa-facebook-f"></i>   Ingresar con Facebook</a>
            </p>
            <p style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
                <span class="bg-light" style=" padding: 7px; font-size: 1.2em; position: relative; z-index: 2;">O</span>
            </p>
            <form method="POST" action="/ingresar">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input name="correo" class="form-control" placeholder="Correo Electronico" type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Contraseña"  name="contraseña" type="password">
            </div> <!-- form-group// -->                                   
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Ingresar  </button>
            </div> <!-- form-group// -->      
            <p class="text-center">¿No tienes cuenta? <a href="">Registrarte</a> </p>                                                                 
        </form>
        </article>
        </div> <!-- card.// -->
        
        </div> 
        <!--container end.//-->
    
</body>

</html>