<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>BookHam</title>
</head>
<body>

    <div class="contenedor">

        <img  class="img_forgetPassword"  src="images/undraw_Security_on_ff2u.png" alt="">
        <article class="card-body " style="max-width: 700px;" >
            <h4 class="card-title mt-3 text-center" style="font-size: 2.5em;">¿Tienes problemas para entrar?</h4>
            <p style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
                <span class="bg-light" style=" padding: 7px; font-size: 1em; position: relative; z-index: 2;">Introduce tu correo electrónico y te enviaremos un enlace para que vuelvas a entrar en tu cuenta.</span>
            </p>
            <form method="POST" action="/passwordEmail">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="correo" class="form-control" placeholder="Correo Electronico" required type="email">
            </div> <!-- form-group// -->                               
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Enviar enlace de acceso  </button>
            </div> <!-- form-group// -->      
            <p class="text-center">¿No tienes cuenta? <a href="/signUp">Registrarte</a> </p>                                                                 
        </form>
        </article>
        </div> <!-- card.// -->
        
    
    </div>
</body>

</html>