<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>MemeHam - Forget Passoword </title>
</head>
<body>

    <div class="contenedor_forgetPassword">

            <img  class="contenedor_forgetPassword_img"  src="images/undraw_Security_on_ff2u.png" alt="">
            <article class="card-body contenedor_forgetPassword_card-body"  >
                <h2 class="card-title mt-3 text-center">¿Tienes problemas para entrar?</h2>
                <p >
                    <span class="bg-light" align="center">Introduce tu correo electrónico y te enviaremos un enlace para que vuelvas a entrar en tu cuenta.</span>
                </p>
            <form method="POST" action="/passwordEmail">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="correo" class="form-control" placeholder="Correo Electronico" required type="email">
                </div> <!-- form-group// -->                               
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block colorFondoBoton"> Enviar enlace de acceso  </button>
                </div> <!-- form-group// -->      
                <p class="text-center">¿No tienes cuenta? <a href="/signUp" class="colorEnlaces" >Registrarte</a> </p>                                                                 
            </form>
        </article>
       
        
    
    </div>
</body>

</html>