<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>MemeHam</title>
</head>
<body>

    <div class="contenedorLogin">

        <img  class="contenedorLogin_img"  src="images/imagenesPublicas/undraw_develop_app_re_bi4i.png" alt="">
    
        <article class="card-body contenedorLogin_card-body"  >
            <h4 class="h1 mt-3 text-center" >Iniciar Sesión</h4>
            <p>
                <a href="" class="btn btn-block contenedorLogin_btnGoogle"  > <i class="fab fa-google"></i>  Ingresar con Google</a>
                <a href="" class="btn btn-block  contenedorLogin_btnFacebook" > <i class="fab fa-facebook-f"></i>   Ingresar con Facebook</a>
            </p>
            <form method="POST" action="/ingresar">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="nombreOcorreo" class="form-control" placeholder="Nombre de Usuario o Correo Electronico" required type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Contraseña"  name="contraseña" required type="password">
                </div> <!-- form-group// -->                                   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block colorFondoBoton"> Ingresar  </button>
                </div> <!-- form-group// -->      
                <p class="text-center">¿No tienes cuenta? <a href="/signUp" class="colorEnlaces">Registrarte</a> </p>  
                <p class="text-center">¿Olvidaste tu contraseña? <a href="/forgetPassword" class="colorEnlaces">Recuperar</a> </p>                                                                
            </form>
        </article>
        
    
    </div>
</body>

</html>