<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>ShareHam - SignUp</title>
</head>
<body>

    <div class="contenedorSignUp">
        <article class="card-body contenedorSignUp_card-body" >
            <h2 class="card-title mt-3 text-center colorBlancoLetras">Crear una Cuenta</h2>
            <h4 class="text-center colorBlancoLetras">¡Se parte de la familia MemeHam!</h4>
            <p>
                <a href="" class="btn btn-block contenedorSignUp_btnGoogle"  > <i class="fab fa-google"></i>  Registrar con Google</a>
                <a href="" class="btn btn-block contenedorSignUp_btnFacebook"  > <i class="fab fa-facebook-f"></i>   Registrar con Facebook</a>
            </p>
            <form action="/registrar" method="POST" enctype="multipart/form-data">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                 </div>
                <input name="correo" class="form-control" placeholder="Correo Electronico" required type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="far fa-id-badge"></i> </span>
                </div>
                <input name="nombreDeUsuario" class="form-control" required placeholder="Nombre de Usuario" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-file-image"></i> </span>
                </div>
                <input name="fotoDePerfil" class="form-control"  required placeholder="Foto de Perfíl" type="file">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="contraseña" class="form-control" placeholder="Contraseña" required type="password">
            </div> <!-- form-group// -->                                 
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block colorFondoBoton"> Crear Cuenta  </button>
            </div> <!-- form-group// -->      
            <p class="text-center colorBlancoLetras">¿Ya tienes cuenta? <a href="/" class="colorEnlaces">Ingresar</a> </p>                                                                 
        </form>
        </article>
        </div> <!-- card.// -->
        
        </div> 
        <!--container end.//-->
    
</body>

</html>